In [1]:
import geopandas as gpd
import os

In [8]:
def create_land_buffer(
    country_gdf, harbor_gdf, eez_gdf, buffer_country, buffer_harbor
):
    """
    Creates a buffer around harbors and countries and saves it GeoJSON.
    Arguments:
        country_gdf: geodataframe all countries
        harbor_gdf: geodataframe all harbors globally
        eez_gdf: geodataframe exclusive economic zone
        buffer_harbor: size buffer around harbors (km)
        buffer_country: size buffer around countries (km)
    Returns:
        None, but saves GeoJSON
    """
    assert country_gdf.crs == harbor_gdf.crs == eez_gdf.crs
    # conversion https://www.usna.edu/Users/oceano/pguth/md_help/html/approx_equivalents.htm
    # 1 degree = 111 km
    # 1 km = 0.009 degrees
    # This is usually accurate enough, but should not be used for anything near the poles
    buffer_country_deg = buffer_country * 0.009
    buffer_harbor_deg = buffer_harbor * 0.009
    # Dissolve it
    countries_dissolved = gpd.GeoDataFrame(country_gdf.dissolve()["geometry"])
    harbors_dissolved = gpd.GeoDataFrame(harbor_gdf.dissolve()["geometry"])
    print("Create the buffers")    
    buffered_harbors = gpd.GeoDataFrame(harbors_dissolved.buffer(buffer_harbor_deg))
    buffered_harbors.columns = ["geometry"]
    buffered_countries = gpd.GeoDataFrame(
        countries_dissolved.buffer(buffer_country_deg)
    )
    buffered_countries.columns = ["geometry"]
    # Combine the two bufferes
    buffer_both = buffered_countries.union(buffered_harbors)
    print("Substract the countries from the buffer")
    buffer_diff = gpd.GeoDataFrame(buffer_both.difference(countries_dissolved))
    buffer_diff.columns = ["geometry"]
    buffer_diff = buffer_diff.dissolve()
    # Make spatial join, so the buffer can get the properties from the eez
    print("Spatial Join")
    inner = buffer_diff.sjoin(eez, how="inner")
    # Dissolve by state the eez belongs to
    print("Dissolving by state")
    inner = inner.dissolve(by="SOVEREIGN1")
    # delete everything besdies the state
    inner = inner[["geometry"]]
    print("Save")
    inner.to_file(
        "results"
        + os.sep
        + "harbor_{}km_coast_{}km_buffer.gpkg".format(buffer_harbor, buffer_country),
        driver="GPKG")
    return inner

In [3]:
harbors = gpd.read_file("global_harbors.json")
harbors.head()

,id,portname,code,prttype,prtsize,status,maxdepth,maxlength,annualcapacitymt,humuse,...,country,lastcheckdate,remarks,url_lca,source,createdate,updatedate,geonameid,gdb_geomattr_data,geometry
0,wld_trs_ports_wfp.14314,Watsi-Genge,None,River,Very Small,Unknown,NaN,NaN,NaN,Unknown,...,Democratic Republic of the Congo,NaT,None,None,None,2021-02-24 11:52:47.493000+00:00,2021-02-24 11:52:47.493000+00:00,204280,None,POINT (20.62966 -0.94560)
1,wld_trs_ports_wfp.14315,Charlotte (Skidegate),CASKI,Sea,Unknown,Open,NaN,NaN,NaN,Unknown,...,Canada,NaT,None,None,None,2021-02-24 11:52:47.493000+00:00,2021-02-24 11:52:47.493000+00:00,6148858,None,POINT (-132.00969 53.24742)
2,wld_trs_ports_wfp.14316,Homer,USHOI,Sea,Unknown,Open,NaN,NaN,NaN,Unknown,...,None,NaT,None,None,None,2021-02-24 11:52:47.493000+00:00,2021-02-24 11:52:47.493000+00:00,5864145,None,POINT (-151.41553 59.60159)
3,wld_trs_ports_wfp.14317,Hartsdale,USHAS,Sea,Unknown,Open,NaN,NaN,NaN,Unknown,...,None,NaT,None,None,None,2021-02-24 11:52:47.493000+00:00,2021-02-24 11:52:47.493000+00:00,5120141,None,POINT (-74.00210 40.70610)
4,wld_trs_ports_wfp.14318,Killingholme,GBKGH,Sea,Unknown,Unknown,NaN,NaN,NaN,Unknown,...,None,NaT,None,None,None,2021-02-24 11:52:47.493000+00:00,2021-02-24 11:52:47.493000+00:00,2641323,None,POINT (-0.21512 53.64561)

In [4]:
countries = gpd.read_file("Countries" + os.sep + "ne_50m_admin_0_countries.shp")
countries.head()

,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,ADM0_DIF,LEVEL,TYPE,TLC,ADMIN,...,FCLASS_TR,FCLASS_ID,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,geometry
0,Admin-0 country,1,3,Zimbabwe,ZWE,0,2,Sovereign country,1,Zimbabwe,...,None,None,None,None,None,None,None,None,None,"POLYGON ((31.28789 -22.40205, 31.19727 -22.344..."
1,Admin-0 country,1,3,Zambia,ZMB,0,2,Sovereign country,1,Zambia,...,None,None,None,None,None,None,None,None,None,"POLYGON ((30.39609 -15.64307, 30.25068 -15.643..."
2,Admin-0 country,1,3,Yemen,YEM,0,2,Sovereign country,1,Yemen,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((53.08564 16.64839, 52.58145 16..."
3,Admin-0 country,3,2,Vietnam,VNM,0,2,Sovereign country,1,Vietnam,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((104.06396 10.39082, 104.08301 ..."
4,Admin-0 country,5,3,Venezuela,VEN,0,2,Sovereign country,1,Venezuela,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-60.82119 9.13838, -60.94141 9..."

In [5]:
# EEZ files are too large for Github. They have to be downloaded here: 
# https://www.marineregions.org/downloads.php
eez = gpd.read_file("EEZ" + os.sep + "eez_v11.shp")
eez

,GEONAME,TERRITORY1,ISO_TER1,SOVEREIGN1,geometry
0,American Samoa Exclusive Economic Zone,American Samoa,ASM,United States,"POLYGON ((-166.64112 -17.55527, -166.64194 -17..."
1,Ascension Exclusive Economic Zone,Ascension,SHN,United Kingdom,"POLYGON ((-10.93328 -7.88745, -10.93324 -7.889..."
2,Cook Islands Exclusive Economic Zone,Cook Islands,COK,New Zealand,"POLYGON ((-159.27579 -5.80051, -158.38466 -6.3..."
3,Overlapping claim Falkland / Malvinas Islands:...,Falkland / Malvinas Islands,FLK,United Kingdom,"POLYGON ((-58.54196 -56.22782, -61.62049 -53.7..."
4,French Polynesian Exclusive Economic Zone,French Polynesia,PYF,France,"MULTIPOLYGON (((-135.93245 -7.89001, -135.9290..."
...,...,...,...,...,...
276,Spanish Exclusive Economic Zone,Spain,ESP,Spain,"MULTIPOLYGON (((4.54375 42.44867, 4.86147 42.0..."
277,Chagos Archipelago Exclusive Economic Zone,Chagos Archipelago,None,Mauritius,"POLYGON ((75.83452 -5.23039, 75.83260 -5.31997..."
278,Overlapping claim South Georgia and South Sand...,South Georgia and the South Sandwich Islands,SGS,United Kingdom,"POLYGON ((-37.13953 -50.64608, -37.03619 -50.6..."
279,Bermudian Exclusive Economic Zone,Bermuda,BMU,United Kingdom,"POLYGON ((-60.70499 32.39114, -60.70499 32.390..."
280,United States Exclusive Economic Zone,United States,USA,United States,"MULTIPOLYGON (((-67.28418 45.19126, -67.28403 ..."

In [9]:
buffer = create_land_buffer(countries, harbors, eez, 2.5, 50)
buffer

Create the buffers

/tmp/ipykernel_52380/1396826864.py:26: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  buffered_harbors = gpd.GeoDataFrame(harbors_dissolved.buffer(buffer_harbor_deg))
/tmp/ipykernel_52380/1396826864.py:29: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  countries_dissolved.buffer(buffer_country_deg)

Substract the countries from the buffer
Spatial Join
Dissolving by state
Save

                                                              geometry
SOVEREIGN1
Albania              MULTIPOLYGON (((-163.81551 -82.83155, -163.814...
Algeria              MULTIPOLYGON (((-163.81551 -82.83155, -163.814...
Angola               MULTIPOLYGON (((-163.81551 -82.83155, -163.814...
Antarctica           MULTIPOLYGON (((-163.81551 -82.83155, -163.814...
Antigua and Barbuda  MULTIPOLYGON (((-163.81551 -82.83155, -163.814...
...                                                                ...
Vanuatu              MULTIPOLYGON (((-163.81551 -82.83155, -163.814...
Venezuela            MULTIPOLYGON (((-163.81551 -82.83155, -163.814...
Vietnam              MULTIPOLYGON (((-163.81551 -82.83155, -163.814...
Western Sahara       MULTIPOLYGON (((-163.81551 -82.83155, -163.814...
Yemen                MULTIPOLYGON (((-163.81551 -82.83155, -163.814...

[158 rows x 1 columns]